
html, body {
   text-align: left;
   padding: 0;
   margin: 0;
   background-color: white;
   color: black;
   font: normal 12px Arial, Helvetica, sans-serif;
   line-height: 17px;
}

#header {
   background: black url(headbg.png) repeat;
   position: absolute;
   width: 100%;

   padding-top: 15px;
   text-shadow: none;
   text-align: left;
   font-size: 34px;

   height: 60px;
   voice-family: "\"}\"";
   voice-family: inherit;
   height: 45px;

}

#links {
   position: absolute;
   background-color: #DDD;
   border: 1px solid #888;
   top: 60px;
   left: 0px;
   margin: 8px 8px 8px 8px;
   padding: 4px 4px 4px 4px;

   /* 108 - 8 - 8 - 4 - 4 = 84 */
   width: 84px;
   voice-family: "\"}\"";
   voice-family: inherit;
   width: 108px;

}

#links p {
   margin-left: 0.2em;
   margin-top: 0em;
   margin-bottom: 0em;
}

#content {
   position: absolute;
   top: 60px;
   left: 128px;
   right: 0;
   text-align: justify;
   margin-top: 8px;
   margin: 8px 8px 8px 8px;
   padding: 4px 4px 4px 4px;
   max-width: 60em;
}

#location {
   font-size: 0.9em;
}

#foot {
   margin-top: 1em;
   font-size: 0.8em;
   text-align: right;
}

a {
   color: #04B;
   text-decoration: none;
   border-bottom: dotted #999 1px;
}

a:hover {
   color: #B44;
   text-decoration: none;
   border-bottom: solid #B44 1px;
}

#header a {
   color: white;
   border-bottom: none;
}

#header a:hover {
   border-bottom: solid white 2px;
}

h1 {
   font-size: 1.6em;
   color: black;
   border-width: 0;
   padding: 0;
   text-align: left;
   margin: 0 0 0.5em 0;
   border-bottom: solid black 1px;
   text-shadow: none;
}

h2 {
   font-size: 1.2em;
   color: black;
   border-width: 0;
   padding: 0;
   text-align: left;
   margin: 5px 5px 0 0;
   text-decoration: underline;
   text-shadow: none;
}

h3 {
   font-size: 12px;
   color: black;
   border-width: 0;
   padding: 0;
   text-align: left;
   margin: 4px 4px 0 0;
}

div.date {
   color: navy;
   font-family: courier;
   text-align: left;
}

div.newsitem {
   margin-left: 32px;
   margin-bottom: 16px;
}

thead {
  background: #248;
  color: white;
}

tbody tr {
   background: #DDD;
   color: black;
}

tr.head {
  background: #248;
  color: white;
}

tr.listing {
   background: #DDD;
   color: black;
}

th {
  padding-left: 5px;
  padding-right: 5px;
}

td {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

pre.code, div.code {
  border: solid grey 1px;
  color: black;
  background-color: #DDD;
  font-family: courier;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
}

span.code {
  font-family: courier;
  font-weight: bold;
}

span.comment {
  font-family: courier;
  font-weight: bold;
  color: #048;
}

span.keyword, span.tag, span.attribute {
  font-family: courier;
  font-weight: bold;
  color: #070;
}

span.literal {
  font-family: courier;
  font-weight: bold;
  color: #A00;
}

span.right {
   position:   absolute;
   right:      0;
}

span.left {
   position:   absolute;
   left:       0;
}

span.not {
  font-family: courier;
  font-weight: bold;
  text-decoration: overline;
}

div.first {
   position:   absolute;
   left:       64pt;
}

div.entry {
   position:   relative;
}

ul.nobullet {
   list-style-type: none;
}

li.spaced {
   margin-bottom: 8pt;
}

.nobr {
   white-space:nowrap;
}

.box {
  display: flex;
  justify-content: space-evenly;
}


